body {
    background-color: black;
}

#container {
    background-image: url(../assets/back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

canvas {
    background-image: url(../assets/back.png);
}